.footer-wrapper{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    @media (min-width: 1020px){
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
}

.footer-brand{
  margin-top: 2em;
  @include media($site-width){
    margin-top: 0;
  }
}

.footer-logo{
  width: 100%;
    padding: 0;
    @include media($site-width){
      padding: 0;
    }
  img{
    width: 128.4px;
  }
}
}

.container{
    position: relative;
    max-width: $site-width;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 15px;
    padding-right: 15px;
    @include media($site-width) {
        padding-left: 0;
        padding-right: 0;
    }
}
