{% extends "banes-layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
		<div class="breadcrumb">
		    <ol>
		        <li><a aria-current="false" href="/">Home</a></li>
		        <li><a aria-current="false" href="/">Services</a></li>
		        <li><a aria-current="false" href="/">Children young people and families</a></li>
		        <li><a aria-current="true" href="council_tax.html">Education, Health and Care Plan</a></li>
		    </ol>
		</div><div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge"><span class="heading-secondary">Application Progress</span>Education, Health and Care Plan
				</h1> 
				<p>This page provides you with a guide to how your application request for assessment is progressing and what you can expect to happen next.</p>
				<p><a id="myBtn" href="">Click here to see our useful video</a>  that explains how the EHCP process works.</p>


        <details>
        	<summary><span class="summary">1: Request</span></summary>
        	<div class="panel panel-border-narrow">
        	<p>Click here to view a clip about what happens at this stage and what to expect</p>
					<p class="bold-text">This will take roughly 6 weeks from the date that we received the request</strong></p> 
						
						<p>The Local Authority will look at all the paperwork received and decide whether or not an assessment is necessary.</p>
							
						<p>	You will be notified in writing of the decision</p>
						
        	</div>
        </details>

<br />
        <details>

	<summary><span class="summary">2: Assessing Needs</span></summary>

	<div class="panel panel-border-narrow">

			<P>Click here to view a clip about what happens at this stage and what to expect</P>

			<p>*This will take roughly 6 weeks or a total of 12 weeks from the date the LA received the request</p>
			
			<p>You will be contacted by the SEND Practitioner to arrange a face-to-face meeting.  This is your contact in the SEN Team.</p>
			
			<p>The LA is currently asking professionals to carry out assessments and submit their reports.</p>
			
			<p>The LA asks for reports from you, the educational setting,  educational psychology, social care and health as a statutory requirement.</p>
			
			<p>The LA will also ask any other professionals  involved or identified by you at the Face to Face meeting.</p>
			

	</div>

</details>
<br />

<details>
	<summary><span class="summary">3: Drafting Plan</span></summary>
	<div class="panel panel-border-narrow">
			<p>Click here to view a clip about what happens at this stage and what to expect</p>

			<p>*This will take roughly 2 weeks from the day that the LA receive all the reports called advice</p>
			
			<p>The LA is currently considering all the advice submitted to decide whether or not an Education, Health and Care Plan is the best option.</p>
			
			<p>You will be notified in writing of the decision.</p>
			
	</div>

</details>

<br />
<details>

	<summary><span class="summary">4: Draft Education, Health and Care Plan (In Progress)</span></summary>

	<div class="panel panel-border-narrow">

		<p>Click here to view a clip about what happens at this stage and what to expect</p>
 <p>*This will take roughly 2 weeks from the decision date</p>
	<p>	You will receive a decision letter and a copy of the draft plan.  You have 15 calendar days to respond to the Draft plan letting us know if you want changes or that you agree with the plan.</p>					
	<p>You will also be asked about your preferred educational setting. If the LA already has this information a consult will be sent to this setting.</p>

	</div>

</details>
<br />

<details>

		<summary><span class="summary">5: Finalising Plan</span></summary>
	
		<div class="panel panel-border-narrow">
	
				<p>Click here to view a clip about what happens at this stage and what to expect</p>

				<p>*The Final Plan should be issued within 20 weeks of the LA receiving the initial request.</p>
				
				<p>An educational placement has now been agreed.  The Draft Plan has been agreed.</p>  
				
			<p>The SEND Practitioner will now send you a copy of the Final Plan which will include the name of the educational placement in Part I.</p>
				
				<p>You have a right to mediation and appeal to SENDIST if you do not agree with the decisions that have been made.</p>
				
			
		</div>
	
	</details>
	<br />


<div class="phase-banner">
	<p>
		<strong class="phase-tag">ALPHA</strong>
		<span>This is a new service. This service is not currently updated in real-time. The information provided is accurate from the time you were last send a notication. You will be sent a new notifcation as soon as your application advances to the next stage. </span>
	</p>
</div>
    </div>

</main>


<footer class="global-footer">
  <div class="footer-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="footer-logo">
          <img src="images/logos/bathnes-logo-mono.png" alt="Bath & North East Somerset Council" />
        </div>

        <ul class="footer-list">
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Disclaimer &amp; Privacy Policy</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>

      <div class="column-one-thirds">

      </div>

    </div>
  </div>
</footer>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->


  <div class="modal-content">
  <div class="modal-header">
    <span class="close">&times;</span>
    <h2 class="bold-medium">What is an Education, Health and Care Plan?</h2>
  </div>
  <div class="modal-body">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/o44MzFngy-o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</div>


{% endblock %}
